
@import '../misc/variables.scss'; // colors, fonts etc...

@import '../misc/mixins'; // custom mixins

@import '../misc/layout'; // responsive grid and media queries



header {
    background-color: black;
	position: fixed;
	z-index: 4;
	height: 60px;
	width: 100%;
	top: 0;
	left: 0;
	//background-color: transparent;
	@include font-smoothing;
	/* Force Hardware Acceleration */
	@include transform(translateZ(0));
	@include backface-visibility(hidden);
    @include transition(all .5s ease);
    box-shadow: 0 20px 50px rgba(59, 43, 91, 0.7);
       
	

	


	@include MQ(L) {
		height: 60px;

		
    }

    
}

.scroll header{
    @include MQ(L) {
        //height: 80px;
        background-color: black;
        //@include transition(all .5s ease);
        .main-navigation{
            color: white;
        }
    }
}

.main-navigation{
    display: flex;
    justify-content: center;
    height: 60px;
    color: white;

    ul {
        padding: 0;
        font-size: 1.2em;
      }
    li{
        display: inline-block;
       // @include transition(all .5s ease);

        line-height: 1.5;
    @include MQ(M) {
        &:not(:last-child){
            padding-right: 1em;
        }
    }
        
        &::after{
            content: '';
            display: block;
            margin: auto;
            height: 3px;
            width: 0px;
            background: transparent;
            transition: width .5s ease, background-color .5s ease;
        }
        &:hover::after {
            width: 100%;
            background: $primary-color;
            @include MQ(XSM) {
                width: 15%;
                background: white;

            }
        }
        a{
        @include transition(all .3s ease);
        color: white;
        text-decoration:none; 
            
        }
    }
    @include MQ(XSM) {
        display: flex;
        height: 60px;
        color: white;
        justify-content: flex-end;
        li{
            padding-bottom: .5em;
        }
    }
    
}


.nav-left,.nav-center{
    flex: 1;
    text-align: right;
}

.nav-right{
    flex: 2;
    /* display: flex;
    justify-content: center; */
    padding-right: 3em;
    text-align: right;

}


.mobile--burger{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 10%;
    margin-right: 2em;
    z-index: 1;
    .line{
        width: 50%;
        height: 10%;
        background-color: #fff;
        border-radius: 2px;
        transition: 0.3s cubic-bezier(0.23, 1.21, 0.79, 1.09);
        margin-left: 25%;
        margin-top: 5%;
    }

    @include MQ(S){
        width: 15%;
        margin-right: 2em;
    }

    
    
}

.mobile-navigation{
        position: fixed;
        width: 100%;
        height: 1000px;
        background: $primary-color;
        padding-top: 60px;
        transition: .3s ease-in-out;
        font-size: 1.5em;

        ul{
            flex-direction: column;
            display: flex;
            text-align: center;
        }
        transform: translateX(1024px)
}

.main-navigation.active{
    .mobile-navigation{
        display: block;
        transform: translateX(0);
    }
    
    .mobile--burger{
        
            .line_1{
                display: none;
            }.line_2{
                transform: translateY(10%) rotate(135deg);
            }
            .line_3{
                transform: translateY(-10%) rotate(-135deg);
                margin-top: -5px;
            }
        
    }
    
}
