// breakpoints

$XS:360px;
$S:480px;   
$M:768px;     
$L:1024px;     

// media queries

@mixin MQ($canvas) {
  @if $canvas == XS {
    @media only screen and (max-width:$XS) { @content; } 
   }
  @if $canvas == S {
   @media only screen and (max-width: $S) { @content; } 
  }
   @else if $canvas == SM {
    @media only screen and (min-width:$S) and (max-width: $M) { @content; } 
   }
   @else if $canvas == XSM {
    @media only screen and (min-width:0) and (max-width: $M) { @content; } 
   }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == ML {
    @media only screen and (min-width:$M) and (max-width: $L) { @content; } 
   }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}

