@import './variables.scss'; // colors, fonts etc...
@import './mixins'; // custom mixins
@import './layout'; // responsive grid and media queries


body{
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
}
.frontpage{
    position: relative;
}
.container{
    top: 60px;
}
.homepage-wrapper{
    position: relative;
    height: 350px;
    background-image: linear-gradient(to right top, #003bc3, #2656d4, #416fe4, #5b89f2, #75a3ff);
    box-shadow: 0 6px 25px rgba(59, 43, 91, 0.7);

    @include MQ(XSM) {
        height: 250px;
    }
    @include MQ(XS) {
        height: 200px;
    }
    .wrapper-info{
        position: absolute;
        top: 55%;
        width: 50%;
        left: 25%;
        color: white;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        white-space: nowrap;
        padding-bottom: 50px;
        text-align: center;
        white-space: normal;
        z-index: 3;
        background-color: #0000004a;
        //border-bottom: 1px solid $primary-color;
        border-bottom: 1px solid white;

        @include MQ(XSM) {
                font-size: .7em;
                padding-bottom: 20px;
                top:60%;
        }
        @include MQ(XS) {
            top:65%;
        }
    }
}

.betting-section{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 3em 3em;

    @include MQ(L) {
        max-width: 720px;
    }
    @include MQ(ML) {
        max-width: 540px;
    }
    @include MQ(XSM) {
        max-width: 300px;
        padding: 2em 2em;
    }
}

.row{
    display: flex;
    flex-wrap: wrap;
    @include MQ(XSM) {
        flex-wrap: wrap;
    }
}

.reset-page{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right top, #003bc3, #2656d4, #416fe4, #5b89f2, #75a3ff);
    .reset-section{
        position: absolute;
        margin: auto;
        top: 60px;
        right: 0;
        bottom: 0;
        left: 0;
        width: 40em;
        height: 30em;
        background-image: linear-gradient(to right bottom, #ffffff, #fefefe, #fdfdfd, #fcfcfc, #fbfbfb);
        border-radius: 15px;
        box-shadow: 0 20px 50px rgba(59, 43, 91, 0.7);
        justify-content: center;
        @include MQ(L) {
            max-width: 720px;
        }
        @include MQ(ML) {
            max-width: 540px;
        }
        @include MQ(XSM) {
            width: 20em;
            height: 20em;
        }
        .reset-container{
            position: relative;
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            button{
                width: 250px;
                height: 50px;
                margin-bottom: 1em;
                background: $primary-color;
                color: white;
                font-size: 1em;
                cursor: pointer;
                border-radius: 15px;

            }
        }
    }
}



  

