@import '../misc/variables.scss'; // colors, fonts etc...
@import '../misc/mixins'; // custom mixins
@import '../misc/layout'; // responsive grid and media queries

.column {
    flex: 33%;
    min-height: 170px;
    position: relative;
    width: 100%;
    height: 215px;
    margin-right: 15px;
    margin-left: 15px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);      
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-bottom: 2em;

    @include MQ(ML) {
        max-width: 540px;
    }

    @include MQ(XSM) {
    flex: 50%;

    }
  }

.options{
    bottom: 2em;
    width: 100%;
    position: absolute;
    span{
      height: 30px;
      display: inline-block;
      width: 70px;
      background: #e7e7e7;
      border-radius: 5px;
      cursor: pointer;
      &:not(:first-child){
          margin-left: .1em;

      }
      &:hover{
          background: $primary-color;
          color: white;
      }
    }
    
}
.counter{
    bottom: 0;
    width: 100%;
    position: absolute;
    background: $primary-color;
    color: white;

div{
    display: inline-block;
    width: 70px;
}
}
.bet-info{
    padding: 1em;
    h3{
        color: $primary-color;
        margin-bottom: 0;
    }
    .country{
        font-size: .8em;
        color: grey;
    }

     
    }

    .status{
        width: 20px;
        height: 20px;
        border-radius: 10px;
        position: absolute;
        top: 5px;
        right: 5px;
        background: gray;
        span{
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity 0.5s linear;
            transform: translateY(20px);
            margin-left: -20px;
            display: block;
            font-size: .7em;
        }
        &:hover{
            span{
                visibility: visible;
                opacity: 1;
            }
        }
    }
    .started{
        color: green;
        background: green;
       
}